version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
